.footer {
  position: relative;
  box-sizing: border-box;
  padding: 0 25px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.footer h3 {
  font-size: 2.4vh;
  font-weight: normal;
}

.footer img { width: 32vh }
